includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    paths:
        - includes
        - src
        - sharable-password-protected-posts.php
    scanDirectories:
        - vendor/vendor-prefixed/
    # We can't make sure developers using our plugins adhere to PHPStan.
    treatPhpDocTypesAsCertain: false
